@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

:root{

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Geneva, Tahoma, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to right bottom, #e55d7d, #e25d89, #de5e95, #d861a0, #d164ab) */
  background-color: whitesmoke;
}

li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
  color: #509cff;
}
a:active {
  color: #ff5070;
}
a:hover {
  color: #ff5070;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  height: 60px;
  background-color: #cfcece;
  backdrop-filter: blur(40px);
  position: fixed;
  top: 0;
}
nav span {
  cursor: pointer;
}
.navlinks {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
/* nav span h2 {
    font-size: 2vw;
} */

.main__section {
  padding-top: 70px;
  width: 100%;
  height: calc(100vh - 0px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  
}

.form__main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 25rem;
  height: calc(100vh - 120px);
  background-color: #fc99ab99;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  gap: 1.1rem;
  font-weight: 500; 
}
.form__main input {
  height: 1.6rem;
  width: 13rem;
  padding-left: 2px;
  border: none;
  border-radius: 2px;
}
.form__main .field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_btn {
  align-self: center;
  width: 100em;
  height: 25px;
  border-radius: 4px;
  border: 0px;
  font-weight: 700;
  background-color: #88bbff;
}
.form_btn:hover {
  background-color: #aacffe;
}
.form_btn:active {
  background-color: #e3efff;
}
.form_btn:disabled {
  background-color: #3d78c4;
}
.reset_btn {
  background-color: whitesmoke;
}
.reset_btn:hover {
  background-color: #ebebeb;
}
.reset_btn:active {
  background-color: #d2c8c8;
}
.reset_btn:disabled {
  background-color: #ffffff;
}

.about__section{
  width: 100%;
  height: 100vh;
  background-color: rgb(65, 185, 0);
}
#result__section{
  display: flex;
  justify-content: center;
  align-items: start;
  height: 50vh;
  background-color: bisque;
  padding: 0 1rem 0 1rem;
}
#result__span{
  color: #3d78c4;
}


@media only screen and (max-width: 600px) {
  nav {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  .navlinks {
    gap: 0.5rem;
  }
  nav span h3 {
    font-size: 1rem;
    font-weight: 600;
  }
  .form__main {
      width: 25rem;
      height: calc(100vh - 120px);
      padding: 1rem 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      gap: 1.1rem;
  }
  .form_btn{
    
    /* background-color: blueviolet; */
  }
  .selector__container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
  }
}

.gif__section{
  width: 100%;
}